
html{
  font-family: verdana, sans-serif;
}



header{
  background-color: #000033;
  color: #FFFFFF;
  padding: 2em;
}

header h1{
  text-align: center;
  font-family: verdana, sans-serif;
  font-size: 4em;
}

#main{
  width: 80%;
  margin: 0 auto;
  background-image: url('../images/Corkboard-background.gif');
}

#professional{
  float: left;
  width: 40%;
  padding: 2em;
}

#professional h2{
  text-align: center;
  color: #4E2E28;
  font-size: 2em;
  text-transform: uppercase;
  padding-bottom: .75em;
}

#professional li {
  margin: .8em 0 0 0;
  width: 80%;
}

#details{
  float: right;
  width: 40%;
  padding: 2em;
}

#categories li{
  display: inline-block;
  width: 18%;
  color: #FFFFFF;
  text-align: center;
  margin: 0 .5em 0 0;
  padding: .5em;
  border: 2px solid #FFFFFF;

}


#details h2{
  text-align: center;
  color: #4E2E28;
  font-size: 2em;
  text-transform: uppercase;
  padding-bottom: .75em;
}

footer{
  padding: 1em;
  background-color: #000033;
  color: #FFFFFF;
  clear: both;
}

.date-block {
  display: inline-block;
  color:white;
  width: 6em;
  height: 6em;
  padding:.5em;
  margin: 0 .5em 0 0;
  text-align: center;
  background-color: #FF0000;
  vertical-align: middle;
}

.info-block {
  display: inline-block;
  height: 6em;
  width: 15em;
  padding:.5em;
  text-align: center;
  background-color: #FFFFFF;
  vertical-align: middle;
}

.month {
  font-size: 2em;
}

.date {
  font-size: 4em;
}
